<!doctype html>
<html lang="en" ng-app="StarcounterLib">
<head>
  <meta charset="utf-8">
  <title>Handsontable as Angular directive</title>

  <script src="js/lib/handsontable/lib/jquery.min.js"></script>
  <script src="js/lib/handsontable/jquery.handsontable.js"></script>
  <script src="js/lib/handsontable/lib/bootstrap-typeahead.js"></script>
  <script src="js/lib/handsontable/lib/jquery.autoresize.js"></script>
  <script src="js/lib/handsontable/lib/jQuery-contextMenu/jquery.contextMenu.js"></script>
  <script src="js/lib/handsontable/lib/jQuery-contextMenu/jquery.ui.position.js"></script>
  <link rel="stylesheet" media="screen" href="js/lib/handsontable/lib/jQuery-contextMenu/jquery.contextMenu.css">
  <link rel="stylesheet" media="screen" href="js/lib/handsontable/jquery.handsontable.css">

  <script src="js/lib/angular-1.0.1.js"></script>
  <script src="js/lib/angular-datagrid.js"></script>
  <script src="js/split-screen.js"></script>
</head>
<body ng-controller="MyCtrl">

<h1>Handsontable</h1>

<button ng-click="dumpItems()">Dump object to console</button>

<h2>Instance 1</h2>

<div ui-datagrid ng-model="items">
  <datacolumn name="id" title="ID"/>
  <datacolumn name="name.first" title="First Name"/>
  <datacolumn name="name.last" title="Last Name"/>
  <datacolumn name="address" title="Address"/>
  <datacolumn name="Product.Description" title="Favorite food" options="getOptions(Product.Options)"/></datacolumn>
  <datacolumn name="isActive" title="Is active" options="activeOptions"/>
</div>

<h2>Instance 2</h2>

<div ui-datagrid="{rowHeaders: true}" ng-model="items">
  <datacolumn name="id" title="ID"/>
  <datacolumn name="isActive" title="Is active" options="activeOptions"/>
  <datacolumn name="Product.Description" title="Favorite food" options="getOptions(Product.Options)"/></datacolumn>
  <datacolumn name="name.first" title="First Name"/>
  <datacolumn name="name.last" title="Last Name"/>
  <datacolumn name="address" title="Address"/>
</div>

</body>
</html>