<!doctype html>
<html lang="en" ng-app="ui.directives">
<head>
  <meta charset="utf-8">
  <title>Handsontable as Angular directive</title>

  <script src="js/lib/handsontable/lib/jquery.min.js"></script>
  <script src="js/lib/handsontable/jquery.handsontable.js"></script>
  <script src="js/lib/handsontable/lib/bootstrap-typeahead.js"></script>
  <script src="js/lib/handsontable/lib/jQuery-contextMenu/jquery.contextMenu.js"></script>
  <script src="js/lib/handsontable/lib/jQuery-contextMenu/jquery.ui.position.js"></script>
  <link rel="stylesheet" media="screen" href="js/lib/handsontable/lib/jQuery-contextMenu/jquery.contextMenu.css">
  <link rel="stylesheet" media="screen" href="js/lib/handsontable/jquery.handsontable.css">

  <script src="js/lib/angular.min.js"></script>
  <script src="js/lib/angular-datagrid.js"></script>
  <script src="js/split-screen.js"></script>
</head>
<body ng-controller="MyCtrl">

<h1>Handsontable</h1>

<button ng-click="dumpItems()">Dump object to console</button>

<h2>Instance 1</h2>

<p>Selection: {{currentSelection}}</p>

<div ui-datagrid="{minSpareRows: 1}" datarows="item in items">
  <datacolumn value="item.id" title="'ID'"/>
  <datacolumn type="grayedOut" value="item.name.first" title="'First Name'" readOnly/>
  <datacolumn type="grayedOut" value="item.name.last" title="'Last Name'" readOnly/>
  <datacolumn value="item.address" title="'Address'"/>
  <datacolumn value="item.Product.Description" title="'Favorite food'" type="'autocomplete'">
    <optionlist datarows="option in item.Product.Options" clickrow="item.Product.Description = option.Description">
      {{option.Description}}
    </optionlist>
  </datacolumn>
  <datacolumn type="'checkbox'" value="item.isActive" title="'Is active'" checkedTemplate="'Yes'"
              uncheckedTemplate="'No'"/>
</div>

<h2>Instance 2</h2>

<p>Filter: <input ng-model="query"></p>

<div ui-datagrid="{rowHeaders: true}" datarows="item in filteredItems">
  <datacolumn value="item.id" title="'ID'"/>
  <datacolumn value="item.name.last" title="'Last Name'"/>
  <datacolumn value="item.name.first" title="'First Name'"/>
  <datacolumn value="item.address" title="'Address'"/>
  <datacolumn type="'autocomplete'" value="item.Product.Description" title="'Favorite food'">
    <optionlist datarows="option in item.Product.Options" clickrow="item.Product.Description = option.Description">
      {{option.Description}}
    </optionlist>
  </datacolumn>
  <datacolumn type="'checkbox'" value="item.isActive" title="'Is active'" checkedTemplate="'Yes'"
              uncheckedTemplate="'No'"/>
</div>

</body>
</html>